# Python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
dist/
sdist/
var/
wheels/
.installed.cfg

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/*
*.swp
*.swo
.cursorrules

# OS
.DS_Store
Thumbs.db

# Virtual environments
.venv
*.db
*.db-shm
*.db-wal
*.kv
native_mcp/imsdk/rust_db/RongCloud/*
native_mcp/lib/rust_db/*
*.lock
*.egg-info/*

native_mcp/package.json